# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/

/chapter 1.txt
/chapter 1 - Kopie.txt
/chapter 1_fix.txt
/chapter 1_sentences.json
/outData.json
/outText.txt
/notebookVersion.ipynb
/mobyDickFix16.txt
/chapter 1 - Kopie_65tknChunks.json
/chapter 1 - Kopie_65tknChunks_combined.txt
/chapter 1 - Kopie_stats.json
/testText.txt
/MD_chapter1_raw.txt
